body{
    background-color: #ffffff;
    min-width: 100px;
    width: 300px;
    height: 430px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px, 7px 29px 0px;
}

.firstHeading{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.timer{
    text-align: center;
}

.timerIcon{
    height: 40px;
    width: 40px;
}

.secondHeading{
    font-size: 38px;
    margin-top: 10px;
}

.subs{
    font-size: 24px;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    margin-right: 50px;
} 

.startBtn, .stopBtn, .resetBtn, .restartBtn{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #17d4ff;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
} 

.startBtn:hover{
    background: #3ef357
}

.stopBtn:hover{
    background: #ff5945
}

.timeElapse p{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.resetBtn{
    margin-top: 14px;
    text-align: center;
}

.resetBtn:hover{
    background-color: #b2b2b2;
}

.timeDetail{
    margin-top: -28px;
}